<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/estilosPeriodos.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <header></header>
  <body>
    <div
    th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
    th:if="${mensaje10 != null}"
    th:text="${mensaje10}"
    class="alert"
  ></div>
    <div
    th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
    th:if="${mensaje17 != null}"
    th:text="${mensaje17}"
    class="alert"
  ></div>
  <div
    th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
    th:if="${mensaje18 != null}"
    th:text="${mensaje18}"
    class="alert"
  ></div>
  <th:block th:replace="partes/header :: header" />
  <th:block th:replace="partes/menu :: menuSuperior" />



  
      <div class="card" style="width: 100%; border-color: #337ab7">
        <div class="card-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li>
                  <a type="button" class="btn btn-secondary" th:href="@{/app/nuevoperiodo}" data-toggle="tooltip"
                    data-placement="top" title="Registrar Nuevo Periodo"><i class="bi bi-calendar2-plus"></i> <span
                      class="sr-only">(current)</span></a>
                </li>
                &nbsp;
                <li>
                  <a type="button" class="btn btn-danger" th:href="@{/inicio}" data-toggle="tooltip" data-placement="top" title="Salir"><i class="bi bi-x"></i><span
                      class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="card-body" style="text-align: left; width: 100%">
         


              <br>
              <div class="row" id="containertitulo">
                
                <p id="titulo1">Listado de periodos académicos</p>
              </div>
              <br>
            
               
               
               
                  <table
                    id="tableperiodos"
                    class="table table-striped table-hover"
                  >
                    <thead>
                      <tr>
                        <th>Número del periodo</th>
                        <th>Periodo</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de finalización</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>
                    
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="periodo:${Periodos}">
                        <td th:text="${periodo.idAnnioEsc}"></td>
                        <td th:text="${periodo.intAnnioEsc}"></td>
                        <td th:text="${periodo.fechaI}"></td>
                        <td th:text="${periodo.fechaF}"></td>
                        <td th:text="${periodo.status}"></td>
                        <td>
                          <a
                            type="button"
                            class="btn btn-secondary"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Ver/Editar"
                            id="btnEditar"
                            th:href="@{/app/editarperiodo/}+${periodo.idAnnioEsc}"
                            ><i class="bi bi-eye"></i
                          ></a>
                        </td>
                        <td>
                          <a
                            type="button"
                            class="btn btn-secondary"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Eliminar"
                            id="btnEliminar"
                            th:href="@{/app/eliminarperiodo/}+${periodo.idAnnioEsc}"
                            ><i class="bi bi-trash"></i
                          ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
               
      
            
        </div>
      </div>
      <th:block th:replace="partes/footer :: footer" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="/js/listaperiodos.js"></script>
  </body>
</html>
