<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="/css/estilosMaterias.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<header></header>

<body>
  <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje13 != null}"
    th:text="${mensaje13}" class="alert"></div>
  <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje14 != null}"
    th:text="${mensaje14}" class="alert"></div>
  <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje15 != null}"
    th:text="${mensaje15}" class="alert"></div>
  <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje16 != null}"
    th:text="${mensaje16}" class="alert"></div>
  <th:block th:replace="partes/header :: header" />
  <th:block th:replace="partes/menu :: menuSuperior" />

  <div class="card">
    <div class="card-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li>
              <a type="button" class="btn btn-secondary" th:href="@{/app/nuevamateria}" data-toggle="tooltip"
                data-placement="top" title="Registrar Nueva Materia"><i class="bi bi-briefcase"></i> <span
                  class="sr-only">(current)</span></a>
            </li>
            &nbsp;
            <li>
              <a type="button" class="btn btn-danger" th:href="@{/inicio}" data-toggle="tooltip" data-placement="top" title="Salir"><i class="bi bi-x"></i><span
                  class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="card-body">
      <br>
      <div class="row" id="containertitulo">
        <div class="col-md-5">&nbsp;</div>
        <p id="titulo1">Listado de materias activas</p>
      </div>
      <br>



      <table id="tablematerias" class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="display:none;"></th>
            <th>Código materia</th>
            <th>Nombre materia</th>
            <th>Año</th>
            <th>Nivel</th>
            <th>Especialidad</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="materia:${materias}">
            <td th:text="${materia.idMat}" style="display:none;"></td>
            <td th:text="${materia.codigoMat}"></td>
            <td th:text="${materia.nombreMat}"></td>
            <td th:text="${materia.annio}"></td>
            <td th:text="${materia.nivel}"></td>
            <td th:text="${materia.especialidad}"></td>
            <td>
              <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ver/Editar"
                id="btnEditar" th:href="@{/app/editarmateria/}+${materia.idMat}"><i class="bi bi-eye"></i></i></a>
            </td>
            <td>
              <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Eliminar"
                id="btnEliminar" th:href="@{/app/desactivarmateria/}+${materia.idMat}"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>




    </div>
  </div>

  <th:block th:replace="partes/footer :: footer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="/js/listamateria.js"></script>
</body>

</html>