<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/alumno/Estilos.css">

</head>
<header>
</header>

<body>
    <div class="container my-5">
        <div class="card border-success" style="width: 100%;">
            <div class="card-body" style="text-align:left;width:100%">
                <div class="container">
                    <div class="col-md-20">
                        <form class="form-horizontal" id="formAlumno" name="formAlumno" method="post">
                            <br>

                            <!--************************ALUMNO*********************************-->
                            <div class="row">
                                <div class="col-sm-4">&nbsp;</div>
                                <div class="form-group col-md-4">
                                    <h5>
                                        <b>Información básica del alumno</b>
                                    </h5>
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="primNombAl" class="col-form-label">Primer Nombre*</label>
                                    <input type="text" class="input-nombre-apellido" name="primNombAl" id="primNombAl">
                                </div>
                                <div class="col-md-6">
                                    <label for="segNombAl" class="col-form-label">Segundo nombre</label>
                                    <input type="text" class="input-nombre-apellido" name="segNombAl" id="segNombAl">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="primApellAl" class="col-form-label">Primer apellido*</label>
                                    <input type="text" class="input-nombre-apellido" name="primApellAl"
                                        id="primApellAl">
                                </div>
                                <div class="col-md-6">
                                    <label for="segApellAl" class="col-form-label">Segundo apellido</label>
                                    <input type="text" class="input-nombre-apellido" name="segApellAl" id="segApellAl">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="numDocAl" class="col-form-label">Numero de Cédula*</label>
                                    <select class="input-cmb-cedula" name="tipoDocAl" id="tipoDocAl">
                                        <option>V</option>
                                        <option>E</option>
                                        <option>P</option>
                                    </select>
                                    <input type="text" class="input-cedula"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="8"
                                        name="numDocAl" id="numDocAl">
                                </div>
                                <div class="col-md-6">
                                    <label for="fechNacAl" class="col-form-label">Fecha de nacimiento*</label>
                                    <input type="date" class="input-fech-nac" name="fechNacAl" id="fechNacAl">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="edadAl" class="col-form-label">Edad*</label>
                                    <input type="text" class="input-edad"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2"
                                        name="edadAl" id="edadAl">
                                </div>
                                <div class="col-sm-2">
                                    <label for="sexoAl" class="col-form-label">Sexo*</label>
                                    <select class="input-sexo" name="sexoAl" id="sexoAl">
                                        <option value="femenino">FEMENINO</option>
                                        <option value="masculino">MASCULINO</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="status" class="col-form-label">Est Académico*</label>
                                    <select class="input-est-acad" name="status" id="status">
                                        <option value="activo">ACTIVO</option>
                                        <option value="retirado">RETIRADO</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <label for="fechIngAl" class="col-form-label">Fecha de ingreso*</label>
                                    <input type="date" class="input-fech-ing" name="fechIngAl" id="fechIngAl">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="textoDirPpalAl" class="col-form-label">Direccion principal de
                                        domicilio*</label>
                                    <input type="text" class="input-txtDireccion" name="textoDirPpalAl"
                                        id="textoDirPpalAl">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="estadodirppalest" class="col-form-label">Estado*</label>
                                    <select class="input-estado" name="estadodirppalest" id="estadodirppalest">
                                        <option>MIRANDA</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="municipiodirppalest" class="col-form-label">Municipio*</label>
                                    <select class="input-estado" name="municipiodirppalest" id="municipiodirppalest">
                                        <option>PLAZA</option>
                                        <option>ZAMORA</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="ciudaddirppalest" class="col-form-label">Ciudad*</label>
                                    <select class="input-estado" name="ciudaddirppalest" id="ciudaddirppalest">
                                        <option>GUARENAS</option>
                                        <option>GUATIRE</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="parroquiadirppalest" class="col-form-label">Parroquia*</label>
                                    <select class="input-estado" name="parroquiadirppalest" id="parroquiadirppalest">
                                        <option>GUARENAS</option>
                                        <option>GUATIRE</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="codpostaldirppalest" class="col-form-label">Cod. Postal*</label>
                                    <select class="input-estado" name="codpostaldirppalest" id="codpostaldirppalest">
                                        <option>1220</option>
                                        <option>1221</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">Direccion secundaria de domicilio</label>
                                    <input type="text" class="input-txtDireccion" name="textoDirSecAl"
                                        id="textoDirSecAl">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="estadodirsecest" class="col-form-label">Estado</label>
                                    <select class="input-estado" name="estadodirsecest" id="estadodirsecest">
                                        <option>MIRANDA</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label for="municipiodirsecest" class="col-form-label">Municipio</label>
                                    <select class="input-estado" name="municipiodirsecest" id="municipiodirsecest">
                                        <option>PLAZA</option>
                                        <option>ZAMORA</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label for="ciudaddirsecest" class="col-form-label">Ciudad</label>
                                    <select class="input-estado" name="ciudaddirsecest" id="ciudaddirsecest">
                                        <option>GUARENAS</option>
                                        <option>GUATIRE</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label for="parroquiadirsecest" class="col-form-label">Parroquia</label>
                                    <select class="input-estado" name="parroquiadirsecest" id="parroquiadirsecest">
                                        <option>GUARENAS</option>
                                        <option>GUATIRE</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <label for="codpostaldirsecest" class="col-form-label">Cod. Postal</label>
                                    <select class="input-estado" name="codpostaldirsecest" id="codpostaldirsecest">
                                        <option>1220</option>
                                        <option>1221</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">Información de Contacto Principal*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <select class="input-cod-operadora" name="codoperadorappalest"
                                        id="codoperadorappalest">
                                        <option>0212</option>
                                        <option>0412</option>
                                        <option>0414</option>
                                        <option>0416</option>
                                        <option>0424</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="input-num-tlf" placeholder="Numero de telefono"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="7"
                                        name="textoTlfPpalAl" id="textoTlfPpalAl">
                                </div>
                                <div class="col-sm-2">&nbsp;</div>
                                <div class="col-sm-6">
                                    <input type="email" class="input-email" placeholder="Correo electronico"
                                        name="emailAl" id="emailAl">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">Información de Contacto Secundario</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <select class="input-cod-operadora" name="codoperadorasecest"
                                        id="codoperadorasecest">
                                        <option>0212</option>
                                        <option>0412</option>
                                        <option>0414</option>
                                        <option>0416</option>
                                        <option>0424</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" placeholder="Numero de telefono" class="input-num-tlf"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="7"
                                        name="textoTlfSecAl">
                                </div>
                            </div>

                            <br>
                            <br>
                            <br>
                            <!--************************FIN ALUMNO*********************************-->


                            <!--************************REPRESENTANTE PRINCIPAL*********************************-->
                            <div class="row">
                                <div class="col-sm-4">&nbsp;</div>
                                <div class="form-group col-md-8">
                                    <h5>
                                        <b>Información básica del representante principal</b>
                                    </h5>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="numDocRep1" class="col-form-label">Numero de Cédula*</label>
                                    <select class="input-cmb-cedula" name="tipoDocRep1" id="tipoDocRep1">
                                        <option selected>V</option>
                                        <option>E</option>
                                        <option>P</option>
                                    </select>
                                    <input name="numDocRep1" id="numDocRep1" class="input-cedula"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="8">
                                    <input type="button" class="input-buttons" id="botonBuscRep" value="Buscar">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="primNombRpr1" class="col-form-label">Primer nombre*</label>
                                    <input type="text" class="input-nombre-apellido" name="primNombRpr1"
                                        id="primNombRpr1">
                                </div>
                                <div class="col-md-6">
                                    <label for="segNombRpr1" class="col-form-label">Segundo nombre</label>
                                    <input type="text" class="input-nombre-apellido" name="segNombRpr1"
                                        id="segNombRpr1">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="primApellRpr1" class="col-form-label">Primer apellido*</label>
                                    <input type="text" class="input-nombre-apellido" name="primApellRpr1"
                                        id="primApellRpr1">
                                </div>
                                <div class="col-md-6">
                                    <label for="segApellRpr1" class="col-form-label">Segundo apellido</label>
                                    <input type="text" class="input-nombre-apellido" name="segApellRpr1"
                                        id="segApellRpr1">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="fechNacRpr1" class="col-form-label">Fec nac*</label>
                                    <input type="date" class="input-fech-nac-rep" name="fechNacRpr1" id="fechNacRpr1">
                                </div>
                                <div class="col-sm-2">
                                    <label for="edadRpr1" class="col-form-label">Edad*</label>
                                    <input type="text" class="input-edad" name="edadRpr1" id="edadRpr1"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2">
                                </div>
                                <div class="col-sm-2">
                                    <label for="sexoRpr1" class="col-form-label">Sexo*</label>
                                    <select class="input-sexo" name="sexoRpr1" id="sexoRpr1">
                                        <option value="femenino">FEMENINO</option>
                                        <option value="masculino">MASCULINO</option>
                                    </select>
                                    <input type="text" class="input-sexo" name="txtSexoRpr1" id="txtSexoRpr1">
                                </div>
                                <div class="col-sm-2">
                                    <label for="parentescoRpr1" class="col-form-label">Pco*</label>
                                    <select class="input-parentesco" name="parentescoRpr1" id="parentescoRpr1">
                                        <option value="madre">MADRE</option>
                                        <option value="padre">PADRE</option>
                                        <option value="otro">OTRO</option>
                                    </select>
                                    <input type="text" class="input-parentesco" name="txtParentescoRpr1"
                                        id="txtParentescoRpr1">
                                    <input type="text" class="input-parentesco" name="txtOtroParentescoRpr1"
                                        id="txtOtroParentescoRpr1">
                                </div>
                                <div class="col-sm-3">
                                    <label for="edoCivRpr1" class="col-form-label">Edo Civ*</label>
                                    <select class="input-ed-civ" name="edoCivRpr1" id="edoCivRpr1">
                                        <option value="casado">CASADO</option>
                                        <option value="soltero">SOLTERO</option>
                                        <option value="viudo">VIUDO</option>
                                        <option value="divorciado">DIVORCIADO</option>
                                    </select>
                                    <input type="text" class="input-ed-civ" name="txtEdoCivRpr1" id="txtEdoCivRpr1">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">Direccion principal de domicilio*</label>
                                    <input type="text" class="input-txtDireccion" name="textoDirPpalRpr1"
                                        id="textoDirPpalRpr1">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea class="input-txtDireccion" name="textAreaDirPpalRpr1"
                                                id="textAreaDirPpalRpr1" rows="2" cols="120"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="estadodirppalrep1" id="lblEstadodirppalrep1"
                                        class="col-form-label">Estado*</label>
                                    <select class="input-estado" name="estadodirppalrep1" id="estadodirppalrep1">
                                        <option>MIRANDA</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="municipiodirppalrep1" id="lblMunicipiodirppalrep1"
                                        class="col-form-label">Municipio*</label>
                                    <select class="input-estado" name="municipiodirppalrep1" id="municipiodirppalrep1">
                                        <option>PLAZA</option>
                                        <option>ZAMORA</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="ciudaddirppalrep1" id="lblCiudaddirppalrep1"
                                        class="col-form-label">Ciudad*</label>
                                    <select class="input-estado" name="ciudaddirppalrep1" id="ciudaddirppalrep1">
                                        <option>GUARENAS</option>
                                        <option>GUATIRE</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="parroquiadirppalrep1" id="lblParroquiadirppalrep1"
                                        class="col-form-label">Parroquia*</label>
                                    <select class="input-estado" name="parroquiadirppalrep1" id="parroquiadirppalrep1">
                                        <option>GUARENAS</option>
                                        <option>GUATIRE</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="codpostaldirppalrep1" id="lblCodpostaldirppalrep1"
                                        class="col-form-label">Código
                                        postal*</label>
                                    <select class="input-estado" name="codpostaldirppalrep1" id="codpostaldirppalrep1">
                                        <option>1220</option>
                                        <option>1221</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">Direccion secundaria de domicilio</label>
                                    <input type="text" class="input-txtDireccion" name="textoDirSecRpr1"
                                        id="textoDirSecRpr1">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea class="input-txtDireccion" name="textAreaDirSecRpr1"
                                                id="textAreaDirSecRpr1" rows="2" cols="120"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="estadodirsecrep1" id="lblEstadodirsecrep1"
                                        class="col-form-label">Estado</label>
                                    <select class="input-estado" name="estadodirsecrep1" id="estadodirsecrep1">
                                        <option>MIRANDA</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="municipiodirsecrep1" id="lblMunicipiodirsecrep1"
                                        class="col-form-label">Municipio</label>
                                    <select class="input-estado" name="municipiodirsecrep1" id="municipiodirsecrep1">
                                        <option>PLAZA</option>
                                        <option>ZAMORA</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="ciudaddirsecrep1" id="lblCiudaddirsecrep1"
                                        class="col-form-label">Ciudad</label>
                                    <select class="input-estado" name="ciudaddirsecrep1" id="ciudaddirsecrep1">
                                        <option>GUARENAS</option>
                                        <option>GUATIRE</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="parroquiadirsecrep1" id="lblParroquiadirsecrep1"
                                        class="col-form-label">Parroquia</label>
                                    <select class="input-estado" name="parroquiadirsecrep1" id="parroquiadirsecrep1">
                                        <option>GUARENAS</option>
                                        <option>GUATIRE</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label for="codpostaldirsecrep1" id="lblCodpostaldirsecrep1"
                                        class="col-form-label">Código
                                        postal</label>
                                    <select class="input-estado" name="codpostaldirsecrep1" id="codpostaldirsecrep1">
                                        <option>1220</option>
                                        <option>1221</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label">Información de Contacto Principal*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <select class="input-cod-operadora" name="codoperadorappalrep1"
                                        id="codoperadorappalrep1">
                                        <option>0212</option>
                                        <option>0412</option>
                                        <option>0414</option>
                                        <option>0416</option>
                                        <option>0424</option>
                                    </select>
                                    <input type="text" class="input-cod-operadora" name="txtCodoperadorappalrep1"
                                        id="txtCodoperadorappalrep1">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" placeholder="Numero de telefono" class="input-num-tlf"
                                        name="textoTlfPpalRpr1" id="textoTlfPpalRpr1"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="7">
                                    <input type="text" class="input-num-tlf" name="txtTextoTlfPpalRpr1"
                                        id="txtTextoTlfPpalRpr1">
                                </div>
                                <div class="col-sm-2">&nbsp;</div>
                                <div class="col-sm-6">
                                    <input type="email" placeholder="Correo electronico" class="input-email"
                                        name="emailRpr1" id="emailRpr1">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label">Información de Contacto Secundario</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <select class="input-cod-operadora" name="codoperadorasecrep1"
                                        id="codoperadorasecrep1">
                                        <option>0212</option>
                                        <option>0412</option>
                                        <option>0414</option>
                                        <option>0416</option>
                                        <option>0424</option>
                                    </select>
                                    <input type="text" class="input-cod-operadora" name="txtCodoperadorasecrep1"
                                        id="txtCodoperadorasecrep1">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" placeholder="Numero de telefono" class="input-num-tlf"
                                        name="textoTlfSecRpr1" id="textoTlfSecRpr1"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="7">
                                    <input type="text" class="input-num-tlf" name="txtTextoTlfSecRpr1"
                                        id="txtTextoTlfSecRpr1">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <input id="chkRepresentante2" type="checkbox" value="0" unchecked
                                        name="chkRepresentante2" onclick="mostrarrepresentante2()" /> Posee
                                    representante secundario ?
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <!--************************FIN REPRESENTANTE PRINCIPAL*********************************-->


                            <!--************************ REPRESENTANTE SECUNDARIO*********************************-->
                            <div id="datosRepSec" style="display: none;">
                                <div class="row">
                                    <div class="col-sm-4">&nbsp;</div>
                                    <div class="form-group col-md-8">
                                        <h5>
                                            <b>Información básica del representante secundario</b>
                                        </h5>
                                    </div>
                                </div>
                                <br>
                                <br>

                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="numDocRep2" class="col-form-label">Numero de Cédula*</label>
                                        <select class="input-cmb-cedula" name="tipoDocRep2" id="tipoDocRep2">
                                            <option selected>V</option>
                                            <option>E</option>
                                            <option>P</option>
                                        </select>
                                        <input name="numDocRep2" id="numDocRep2" class="input-cedula"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="8">
                                        <input type="button" class="input-buttons" id="botonBuscRep2" value="Buscar">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="primNombRpr2" class="col-form-label">Primer nombre*</label>
                                        <input type="text" class="input-nombre-apellido" name="primNombRpr2"
                                            id="primNombRpr2">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="segNombRpr2" class="col-form-label">Segundo nombre</label>
                                        <input type="text" class="input-nombre-apellido" name="segNombRpr2"
                                            id="segNombRpr2">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="primApellRpr2" class="col-form-label">Primer apellido*</label>
                                        <input type="text" class="input-nombre-apellido" name="primApellRpr2"
                                            id="primApellRpr2">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="segApellRpr2" class="col-form-label">Segundo apellido</label>
                                        <input type="text" class="input-nombre-apellido" name="segApellRpr2"
                                            id="segApellRpr2">
                                    </div>
                                </div>
                                <br>


                                <div class="row">
                                    <div class="col-sm-3">
                                        <label for="fechNacRpr2" class="col-form-label">Fec nac*</label>
                                        <input type="date" class="input-fech-nac-rep" name="fechNacRpr2"
                                            id="fechNacRpr2">
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="edadRpr2" class="col-form-label">Edad*</label>
                                        <input type="text" class="input-edad" name="edadRpr2" id="edadRpr2"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="2">
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="sexoRpr2" class="col-form-label">Sexo*</label>
                                        <select class="input-sexo" name="sexoRpr2" id="sexoRpr2">
                                            <option value="femenino">FEMENINO</option>
                                            <option value="masculino">MASCULINO</option>
                                        </select>
                                        <input type="text" class="input-sexo" name="txtSexoRpr2" id="txtSexoRpr2">
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="parentescoRpr2" class="col-form-label">Pco*</label>
                                        <select class="input-parentesco" name="parentescoRpr2" id="parentescoRpr2">
                                            <option value="madre">MADRE</option>
                                            <option value="padre">PADRE</option>
                                            <option value="otro">OTRO</option>
                                        </select>
                                        <input type="text" class="input-parentesco" name="txtParentescoRpr2"
                                            id="txtParentescoRpr2">
                                        <input type="text" class="input-parentesco" name="txtOtroParentescoRpr2"
                                            id="txtOtroParentescoRpr2">
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="edoCivRpr2" class="col-form-label">Edo Civ*</label>
                                        <select class="input-ed-civ" name="edoCivRpr2" id="edoCivRpr2">
                                            <option value="casado">CASADO</option>
                                            <option value="soltero">SOLTERO</option>
                                            <option value="viudo">VIUDO</option>
                                            <option value="divorciado">DIVORCIADO</option>
                                        </select>
                                        <input type="text" class="input-ed-civ" name="txtEdoCivRpr2" id="txtEdoCivRpr2">
                                    </div>
                                </div>
                                <br>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Direccion principal de domicilio*</label>
                                        <input type="text" class="input-txtDireccion" name="textoDirPpalRpr2"
                                            id="textoDirPpalRpr2">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea class="input-txtDireccion" name="textAreaDirPpalRpr2"
                                                    id="textAreaDirPpalRpr2" rows="2" cols="120"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="estadodirppalrep2" id="lblEstadodirppalrep2"
                                            class="col-form-label">Estado*</label>
                                        <select class="input-estado" name="estadodirppalrep2" id="estadodirppalrep2">
                                            <option>MIRANDA</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="municipiodirppalrep2" id="lblMunicipiodirppalrep2"
                                            class="col-form-label">Municipio*</label>
                                        <select class="input-estado" name="municipiodirppalrep2"
                                            id="municipiodirppalrep2">
                                            <option>PLAZA</option>
                                            <option>ZAMORA</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="ciudaddirppalrep2" id="lblCiudaddirppalrep2"
                                            class="col-form-label">Ciudad*</label>
                                        <select class="input-estado" name="ciudaddirppalrep2" id="ciudaddirppalrep2">
                                            <option>GUERENAS</option>
                                            <option>GUATIRE</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="parroquiadirppalrep2" id="lblParroquiadirppalrep2"
                                            class="col-form-label">Parroquia*</label>
                                        <select class="input-estado" name="parroquiadirppalrep2"
                                            id="parroquiadirppalrep2">
                                            <option>GUARENAS</option>
                                            <option>GUATIRE</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="codpostaldirppalrep2" id="lblCodpostaldirppalrep2"
                                            class="col-form-label">Código
                                            postal*</label>
                                        <select class="input-estado" name="codpostaldirppalrep2"
                                            id="codpostaldirppalrep2">
                                            <option>1220</option>
                                            <option>1221</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Direccion secundaria de domicilio</label>
                                        <input type="text" class="input-txtDireccion" name="textoDirSecRpr2"
                                            id="textoDirSecRpr2">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea class="input-txtDireccion" name="textAreaDirSecRpr2"
                                                    id="textAreaDirSecRpr2" rows="2" cols="120"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="estadodirsecrep2" id="lblEstadodirsecrep2"
                                            class="col-form-label">Estado</label>
                                        <select class="input-estado" name="estadodirsecrep2" id="estadodirsecrep2">
                                            <option>MIRANDA</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="municipiodirsecrep2" id="lblMunicipiodirsecrep2"
                                            class="col-form-label">Municipio</label>
                                        <select class="input-estado" name="municipiodirsecrep2"
                                            id="municipiodirsecrep2">
                                            <option>PLAZA</option>
                                            <option>ZAMORA/option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="ciudaddirsecrep2" id="lblCiudaddirsecrep2"
                                            class="col-form-label">Ciudad</label>
                                        <select class="input-estado" name="ciudaddirsecrep2" id="ciudaddirsecrep2">
                                            <option>GUARENAS</option>
                                            <option>GUATIRE</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="parroquiadirsecrep2" id="lblParroquiadirsecrep2"
                                            class="col-form-label">Parroquia</label>
                                        <select class="input-estado" name="parroquiadirsecrep2"
                                            id="parroquiadirsecrep2">
                                            <option>GUARENAS</option>
                                            <option>GUATIRE</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="codpostaldirsecrep2" id="lblCodpostaldirsecrep2"
                                            class="col-form-label">Código
                                            postal</label>
                                        <select class="input-estado" name="codpostaldirsecrep2"
                                            id="codpostaldirsecrep2">
                                            <option>1220</option>
                                            <option>1221</option>
                                        </select>
                                    </div>
                                </div>
                                <br>



                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label">Información de Contacto Principal*</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <select class="input-cod-operadora" name="codoperadorappalrep2"
                                            id="codoperadorappalrep2">
                                            <option>0212</option>
                                            <option>0412</option>
                                            <option>0414</option>
                                            <option>0416</option>
                                            <option>0424</option>
                                        </select>
                                        <input type="text" class="input-cod-operadora" name="txtCodoperadorappalrep2"
                                            id="txtCodoperadorappalrep2">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="Numero de telefono" class="input-num-tlf"
                                            name="textoTlfPpalRpr2" id="textoTlfPpalRpr2"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="7">
                                        <input type="text" class="input-num-tlf" name="txtTextoTlfPpalRpr2"
                                            id="txtTextoTlfPpalRpr2">
                                    </div>
                                    <div class="col-sm-2">&nbsp;</div>
                                    <div class="col-sm-6">
                                        <input type="email" placeholder="Correo electronico" class="input-email"
                                            name="emailRpr2" id="emailRpr2">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label">Información de Contacto Secundario</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <select class="input-cod-operadora" name="codoperadorasecrep2"
                                            id="codoperadorasecrep2">
                                            <option>0212</option>
                                            <option>0412</option>
                                            <option>0414</option>
                                            <option>0416</option>
                                            <option>0424</option>
                                        </select>
                                        <input type="text" class="input-cod-operadora" name="txtCodoperadorasecrep2"
                                            id="txtCodoperadorasecrep2">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="Numero de telefono" class="input-num-tlf"
                                            name="textoTlfSecRpr2" id="textoTlfSecRpr2"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="7">
                                        <input type="text" class="input-num-tlf" name="txtTextoTlfSecRpr2"
                                            id="txtTextoTlfSecRpr2">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <!--************************FIN REPRESENTANTE SECUNDARIO*********************************-->


                            <!--************************CURSO*********************************-->
                            <div class="row">
                                <div class="col-sm-4">&nbsp;</div>
                                <div class="form-group col-md-8">
                                    <h5>
                                        <b>Información del curso</b>
                                    </h5>
                                </div>
                            </div>
                            <br>
                            <div class="row" id="rowtablecursos">
                                <table id="tablecursos" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>NUMERO DEL CURSO</th>
                                            <th>AÑO</th>
                                            <th>SECCION</th>
                                            <th>TURNO</th>
                                            <th>NIVEL</th>
                                            <th>ESPECIALIDAD</th>
                                            <th>ACCION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="curso:${Cursos}">
                                            <td th:text="${curso.idCurso}"></td>
                                            <td th:text="${curso.annio}"></td>
                                            <td th:text="${curso.seccion}"></td>
                                            <td th:text="${curso.turno}"></td>
                                            <td th:text="${curso.nivel}"></td>
                                            <td th:text="${curso.especialidad}"></td>
                                            <td>

                                                <input type="button" class="input-buttons" value="Asignar" onclick="mostrarcursoelegido();">

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            
                            <div class="row" id="cursoelegido" style="align-content:center;display: none;">
                                <div class="col-sm-2">
                                    <label>Año que cursa</label>
                                    <input disabled type="text" class="form-control" name="annioelegido"
                                        id="annioelegido">
                                </div>
                                <div class="col-sm-1">
                                    <label>Seccion</label>
                                    <input disabled type="text" class="form-control" name="secelegida" id="secelegida">
                                </div>
                                <div class="col-sm-2">
                                    <label>Turno</label>
                                    <input disabled type="text" class="form-control" name="turnoelegido"
                                        id="turnoelegido">
                                </div>
                                <div class="col-sm-3">
                                    <label>Nivel</label>
                                    <input disabled type="text" class="form-control" name="nivel" id="nivel">
                                </div>
                                <div class="col-sm-2">
                                    <label>Especialidad</label>
                                    <input disabled type="text" class="form-control" name="especialidad"
                                        id="especialidad">
                                </div>

                            </div>
                            <br>
                            <br>
                            <div class="row">
                                    <input type="submit" class="input-buttons" name="guardarAlumno" id="guardarAlumno"
                                        value="Registrar">
                                    <input type="button" class="input-buttons" value="Limpiar" id="btnLimpiar">
                                    <input type="button" class="input-buttons" value="Salir" id="btnSalir">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/registroalumno.js"></script>
    <script src="/js/jquery-validate/dist/jquery.validate.min.js"></script>
    <script src="/js/validaAlumno.js"></script>

</body>

</html>