<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/estilosAlumno.css" />
  </head>
  <header></header>

  <body>
    <br><br>
    <div class="row">
      
      <div class="form-group col-md-4" style="margin-left: auto;margin-right: auto;">
        <h5 style="margin-left: auto;margin-right: auto;">
          &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
          FICHA DEL ALUMNO
        </h5>
      </div>
    </div>
    <div class="container my-5">
      <div class="card offset-md-0" style="width: 100%; border-color: #337ab7">
        <div class="card-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a
                    class="nav-link"
                    th:href="@{/app/inicio}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ir al inicio"
                    ><i class="bi bi-house"></i
                  >Home</a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item active">
                  <a
                    class="nav-link my-2 my-sm-0"
                    th:href="@{/app/listaralumnos}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Salir"
                    ><i class="bi bi-x"></i
                  >Salir</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="card-body" style="width: 100%;">
          <div class="container" style="margin-left: auto;margin-right: auto;">
            <div class="col-md-20">
              <form
                class="form-horizontal"
                id="formVerAlumno"
                name="formVerAlumno"
              >
                <br />
                <br />
                <!--************************ALUMNO*********************************-->
                <div class="row">
                  <div class="col-sm-4">&nbsp;</div>
                  <div class="form-group col-md-4">
                    <h5>
                      &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                      Datos básicos
                    </h5>
                  </div>
                </div>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="row">
                  
                  <div class="col-md-6">
                    <label for="primNombAl" class="col-form-label"
                      >Primer Nombre:</label
                    >
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="primNombAl"
                      th:value="${alumnoDTO.primNombAl}"
                      disabled
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="segNombAl" class="col-form-label"
                      >Segundo nombre:</label
                    >
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="segNombAl"
                      th:value="${alumnoDTO.segNombAl}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="primApellAl" class="col-form-label"
                      >Primer apellido:</label
                    >
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="primApellAl"
                      th:value="${alumnoDTO.primApellAl}"
                      disabled
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="segApellAl" class="col-form-label"
                      >Segundo apellido:</label
                    >
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="segApellAl"
                      th:value="${alumnoDTO.segApellAl}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="numDocAl" class="col-form-label">Cédula:</label>
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="numDocAl"
                      th:value="${alumnoDTO.tipoDocAl}+${alumnoDTO.numDocAl}"
                      disabled
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="fechNacAl" class="col-form-label"
                      >Fecha de nacimiento:</label
                    >
                    <input
                      type="date"
                      class="input-fech-nac-view"
                      id="fechNacAl"
                      th:value="${alumnoDTO.fechNacAl}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-4">
                    <label for="edadAl" class="col-form-label">Edad:</label>
                    <input
                      type="text"
                      class="input-edad-view"
                      id="edadAl"
                      th:value="${alumnoDTO.edadAl}"
                      disabled
                    />
                    <label for="sexoAl" class="col-form-label">Sexo:</label>
                    <input
                      type="text"
                      class="input-sexo-view"
                      id="sexoAl"
                      th:value="${alumnoDTO.sexoAl}"
                    />
                  </div>
                  <div class="col-sm-2"></div>

                  <div class="col-sm-6">
                    <label for="status" class="col-form-label">Status:</label>
                    <input
                      type="text"
                      class="input-est-acad-view"
                      id="status"
                      th:value="${alumnoDTO.status}"
                      disabled
                    />

                    <label for="fechIngAl" class="col-form-label"
                      >Fech Ing:</label
                    >
                    <input
                      type="date"
                      class="input-fech-ing-view"
                      id="fechIngAl"
                      th:value="${alumnoDTO.fechIngAl}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <label for="textoDirPpalAl" class="col-form-label"
                      >Dirección principal de domicilio:</label
                    >
                    <input
                      type="text"
                      class="input-txtDireccion-view"
                      id="textoDirPpalAl"
                      th:value="${alumnoDTO.textoDirPpalAl}+','+'estado '+${alumnoDTO.estadodirppalest}+','+'municipio '+
                      ${alumnoDTO.municipiodirppalest}+','+'ciudad '+${alumnoDTO.ciudaddirppalest}+','+'parroquia '+${alumnoDTO.parroquiadirppalest}
                      +','+'cod postal '+${alumnoDTO.codpostaldirppalest}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <label for="textoDirSecAl" class="col-form-label"
                      >Dirección secundaria de domicilio:</label
                    >
                    <input
                      type="text"
                      class="input-txtDireccion-view"
                      id="textoDirSecAl"
                      th:value="${alumnoDTO.textoDirSecAl}+','+'estado '+${alumnoDTO.estadodirsecest}+','+'municipio '+
                          ${alumnoDTO.municipiodirsecest}+','+'ciudad '+${alumnoDTO.ciudaddirsecest}+','+'parroquia '+${alumnoDTO.parroquiadirsecest}
                          +','+'cod postal '+${alumnoDTO.codpostaldirsecest}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <label class="col-form-label"
                      >Información de Contacto Principal:</label
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    Teléfono:
                    <input
                      type="text"
                      class="input-num-tlf-view"
                      id="status"
                      th:value="${alumnoDTO.codoperadorappalest}+'-'+${alumnoDTO.textoTlfPpalAl}"
                      disabled
                    />
                  </div>
                  <div class="col-sm-2">&nbsp;</div>
                  <div class="col-sm-6">
                    Email:
                    <input
                      type="text"
                      class="input-email-view"
                      id="status"
                      th:value="${alumnoDTO.emailAl}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <label class="col-form-label"
                      >Información de Contacto Secundario:</label
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    Teléfono:
                    <input
                      type="text"
                      class="input-num-tlf-view"
                      id="status"
                      th:value="${alumnoDTO.codoperadorasecest}+'-'+${alumnoDTO.textoTlfSecAl}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <br />
                <br />
                <!--************************FIN ALUMNO*********************************-->

                <!--************************REPRESENTANTE PRINCIPAL*********************************-->
                <div class="row">
                  <div class="col-sm-4">&nbsp;</div>
                  <div class="form-group col-md-8">
                    <h5>
                      Representante principal
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="primNombRpr1" class="col-form-label"
                      >Primer nombre:</label
                    >
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="primNombRpr1"
                      th:value="${alumnoDTO.primNombRpr1}"
                      disabled
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="segNombRpr1" class="col-form-label"
                      >Segundo nombre:</label
                    >
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="segNombRpr1"
                      th:value="${alumnoDTO.segNombRpr1}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="primApellRpr1" class="col-form-label"
                      >Primer apellido:</label
                    >
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="primApellRp1"
                      th:value="${alumnoDTO.primApellRpr1}"
                      disabled
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="segApellRpr1" class="col-form-label"
                      >Segundo apellido</label
                    >
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="segApellRpr1"
                      th:value="${alumnoDTO.segApellRpr1}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <label for="numDocRep1" class="col-form-label"
                      >Numero de Cédula:</label
                    >
                    <input
                      type="text"
                      class="input-nombre-apellido-view"
                      id="numDocRep1"
                      th:value="${alumnoDTO.tipoDocRep1}+${alumnoDTO.numDocRep1}"
                      disabled
                    />
                  </div>

                  <div class="col-sm-6">
                    <label for="fechNacRpr1" class="col-form-label"
                      >Fecha de nacimiento:</label
                    >
                    <input
                      type="date"
                      class="input-fech-nac-view"
                      id="fechNacRpr1"
                      th:value="${alumnoDTO.fechNacRpr1}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-6">
                    <label for="edadRpr1" class="col-form-label">Edad:</label>
                    <input
                      type="text"
                      class="input-edad-view"
                      id="edadRpr1"
                      th:value="${alumnoDTO.edadRpr1}"
                      disabled
                    />
                    <label for="sexoRpr1" class="col-form-label">Sexo:</label>
                    <input
                      type="text"
                      class="input-sexo-view"
                      id="sexoRpr1"
                      th:value="${alumnoDTO.sexoRpr1}"
                    />
                  </div>

                  <div class="col-sm-6">
                    <label for="parentescoRpr1" class="col-form-label"
                      >Parentesco:</label
                    >
                    <input
                      type="Text"
                      class="input-parentesco-view"
                      id="parentescoRpr1"
                      th:value="${alumnoDTO.parentescoRpr1}"
                    />
                    <label for="edoCivRpr1" class="col-form-label"
                      >Edo Civil:</label
                    >
                    <input
                      type="text"
                      class="input-ed-civ-view"
                      id="edoCivRpr1"
                      th:value="${alumnoDTO.edoCivRpr1}"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <label for="textoDirPpalRpr1" class="col-form-label"
                      >Dirección principal de domicilio:</label
                    >
                    <input
                      type="text"
                      class="input-txtDireccion-view"
                      id="textoDirPpalRpr1"
                      th:value="${alumnoDTO.textoDirPpalRpr1}+','+'estado '+${alumnoDTO.estadodirppalrep1}+','+'municipio '+
                      ${alumnoDTO.municipiodirppalrep1}+','+'ciudad '+${alumnoDTO.ciudaddirppalrep1}+','+'parroquia '+${alumnoDTO.parroquiadirppalrep1}
                      +','+'cod postal '+${alumnoDTO.codpostaldirppalrep1}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <label for="textoDirSecRpr1" class="col-form-label"
                      >Dirección secundaria de domicilio:</label
                    >
                    <input
                      type="text"
                      class="input-txtDireccion-view"
                      id="textoDirSecRpr1"
                      th:value="${alumnoDTO.textoDirSecRpr1}+','+'estado '+${alumnoDTO.estadodirsecrep1}+','+'municipio '+
                          ${alumnoDTO.municipiodirsecrep1}+','+'ciudad '+${alumnoDTO.ciudaddirsecrep1}+','+'parroquia '+${alumnoDTO.parroquiadirsecrep1}
                          +','+'cod postal '+${alumnoDTO.codpostaldirsecrep1}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col">
                    <label class="col-form-label"
                      >Información de Contacto Principal:</label
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    Teléfono:
                    <input
                      type="text"
                      class="input-num-tlf-view"
                      id="status"
                      th:value="${alumnoDTO.codoperadorappalrep1}+'-'+${alumnoDTO.textoTlfPpalRpr1}"
                      disabled
                    />
                  </div>
                  <div class="col-sm-2">&nbsp;</div>
                  <div class="col-sm-6">
                    Email:
                    <input
                      type="text"
                      class="input-email-view"
                      id="status"
                      th:value="${alumnoDTO.emailRpr1}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-4">
                    Teléfono:
                    <input
                      type="text"
                      class="input-num-tlf-view"
                      id="status"
                      th:value="${alumnoDTO.codoperadorasecrep1}+'-'+${alumnoDTO.textoTlfSecRpr1}"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <br />
                <br />
                <!--************************FIN REPRESENTANTE PRINCIPAL*********************************-->

                <!--************************ REPRESENTANTE SECUNDARIO*********************************-->
                <div th:if="${alumnoDTO.idRpr2!=null}" id="datosRepSec">
                  <div class="row">
                    <div class="col-sm-4">&nbsp;</div>
                    <div class="form-group col-md-8">
                      <h5>
                        Representante secundario
                      </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="primNombRpr2" class="col-form-label"
                        >Primer nombre:</label
                      >
                      <input
                        type="text"
                        class="input-nombre-apellido-view"
                        id="primNombRpr2"
                        th:value="${alumnoDTO.primNombRpr2}"
                        disabled
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="segNombRpr2" class="col-form-label"
                        >Segundo nombre:</label
                      >
                      <input
                        type="text"
                        class="input-nombre-apellido-view"
                        id="segNombRpr2"
                        th:value="${alumnoDTO.segNombRpr2}"
                        disabled
                      />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-md-6">
                      <label for="primApellRpr2" class="col-form-label"
                        >Primer apellido:</label
                      >
                      <input
                        type="text"
                        class="input-nombre-apellido-view"
                        id="primApellRp2"
                        th:value="${alumnoDTO.primApellRpr2}"
                        disabled
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="segApellRpr2" class="col-form-label"
                        >Segundo apellido</label
                      >
                      <input
                        type="text"
                        class="input-nombre-apellido-view"
                        id="segApellRpr2"
                        th:value="${alumnoDTO.segApellRpr2}"
                        disabled
                      />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-md-6">
                      <label for="numDocRep2" class="col-form-label"
                        >Numero de Cédula:</label
                      >
                      <input
                        type="text"
                        class="input-nombre-apellido-view"
                        id="numDocRep2"
                        th:value="${alumnoDTO.tipoDocRep2}+${alumnoDTO.numDocRep2}"
                        disabled
                      />
                    </div>

                    <div class="col-sm-6">
                      <label for="fechNacRpr2" class="col-form-label"
                        >Fecha de nacimiento:</label
                      >
                      <input
                        type="date"
                        class="input-fech-nac-view"
                        id="fechNacRpr2"
                        th:value="${alumnoDTO.fechNacRpr2}"
                        disabled
                      />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="edadRpr2" class="col-form-label">Edad:</label>
                      <input
                        type="text"
                        class="input-edad-view"
                        id="edadRpr2"
                        th:value="${alumnoDTO.edadRpr2}"
                        disabled
                      />
                      <label for="sexoRpr2" class="col-form-label">Sexo:</label>
                      <input
                        type="text"
                        class="input-sexo-view"
                        id="sexoRpr2"
                        th:value="${alumnoDTO.sexoRpr2}"
                      />
                    </div>

                    <div class="col-sm-6">
                      <label for="parentescoRpr2" class="col-form-label"
                        >Parentesco:</label
                      >
                      <input
                        type="Text"
                        class="input-parentesco-view"
                        id="parentescoRpr2"
                        th:value="${alumnoDTO.parentescoRpr2}"
                      />
                      <label for="edoCivRpr2" class="col-form-label"
                        >Edo Civil:</label
                      >
                      <input
                        type="text"
                        class="input-ed-civ-view"
                        id="edoCivRpr2"
                        th:value="${alumnoDTO.edoCivRpr2}"
                      />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-12">
                      <label for="textoDirPpalRpr2" class="col-form-label"
                        >Dirección principal de domicilio:</label
                      >
                      <input
                        type="text"
                        class="input-txtDireccion-view"
                        id="textoDirPpalRpr2"
                        th:value="${alumnoDTO.textoDirPpalRpr2}+','+'estado '+${alumnoDTO.estadodirppalrep2}+','+'municipio '+
                        ${alumnoDTO.municipiodirppalrep2}+','+'ciudad '+${alumnoDTO.ciudaddirppalrep2}+','+'parroquia '+${alumnoDTO.parroquiadirppalrep2}
                        +','+'cod postal '+${alumnoDTO.codpostaldirppalrep2}"
                        disabled
                      />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-12">
                      <label for="textoDirSecRpr2" class="col-form-label"
                        >Dirección secundaria de domicilio:</label
                      >
                      <input
                        type="text"
                        class="input-txtDireccion-view"
                        id="textoDirSecRpr2"
                        th:value="${alumnoDTO.textoDirSecRpr2}+','+'estado '+${alumnoDTO.estadodirsecrep2}+','+'municipio '+
                            ${alumnoDTO.municipiodirsecrep2}+','+'ciudad '+${alumnoDTO.ciudaddirsecrep2}+','+'parroquia '+${alumnoDTO.parroquiadirsecrep2}
                            +','+'cod postal '+${alumnoDTO.codpostaldirsecrep2}"
                        disabled
                      />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col">
                      <label class="col-form-label"
                        >Información de Contacto Principal:</label
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      Teléfono:
                      <input
                        type="text"
                        class="input-num-tlf-view"
                        id="status"
                        th:value="${alumnoDTO.codoperadorappalrep2}+'-'+${alumnoDTO.textoTlfPpalRpr2}"
                        disabled
                      />
                    </div>
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-6">
                      Email:
                      <input
                        type="text"
                        class="input-email-view"
                        id="status"
                        th:value="${alumnoDTO.emailRpr2}"
                        disabled
                      />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-4">
                      Teléfono:
                      <input
                        type="text"
                        class="input-num-tlf-view"
                        id="status"
                        th:value="${alumnoDTO.codoperadorasecrep2}+'-'+${alumnoDTO.textoTlfSecRpr2}"
                        disabled
                      />
                    </div>
                  </div>
                </div>
                <br />
                <br />
                <br />
                <!--************************FIN REPRESENTANTE SECUNDARIO*********************************-->

                <!--************************CURSO*********************************-->
                <div class="row">
                  <div class="col-sm-4">&nbsp;</div>
                  <div class="form-group col-md-8">
                    <h5>
                      Curso
                    </h5>
                  </div>
                </div>
                <div
                  class="row"
                  id="cursoelegido"
                  style="align-content: center;"
                >
                  <div class="col-sm-2">
                    <label>Año que cursa</label>
                    <input
                      type="text"
                      class="input-curso-view"
                      name="annio"
                      id="annio"
                      th:value="${alumnoDTO.annio}"
                      disabled
                    />
                  </div>
                  <div class="col-sm-1">
                    <label>Seccion</label>
                    <input
                      type="text"
                      class="input-curso-view"
                      name="seccion"
                      id="seccion"
                      th:value="${alumnoDTO.seccion}"
                      disabled
                    />
                  </div>
                  <div class="col-sm-2">
                    <label>Turno</label>
                    <input
                      type="text"
                      class="input-curso-view"
                      name="turno"
                      id="turno"
                      th:value="${alumnoDTO.turno}"
                      disabled
                    />
                  </div>
                  <div class="col-sm-3">
                    <label>Nivel</label>
                    <input
                      type="text"
                      class="input-curso-view"
                      name="nivel"
                      id="nivel"
                      th:value="${alumnoDTO.nivel}"
                      disabled
                    />
                  </div>
                  <div class="col-sm-2">
                    <label>Especialidad</label>
                    <input
                      type="text"
                      class="input-curso-view"
                      name="especialidad"
                      id="especialidad"
                      th:value="${alumnoDTO.especialidad}"
                      disabled
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
