<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<th:block th:fragment="header">
	<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/estilosInicio.css" />
	</head>
	<!-- Topbar -->
	<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: rgb(181, 181, 181); height: min-content">
		<a class="navbar-brand logo">
			<div class="container">
				<img th:src="@{/images/LOGOPOCATERRA.svg}" alt="BECA" width="80"
					height="100%" style="margin-left: 1%" />
			</div> <!--<img src="/images/LOGOPOCATERRA.svg" width="120" height="100%" alt="forecastr logo" 
                    style="margin-left: 1%" />-->
		</a>
		<div class="container">
			<h2>U.E.P JOSE RAFAEL POCATERRA</h2>
		</div>
		<div class="container"
			style="margin-left: auto; margin-right: 20%; align-items: center;">
			<h5>SIGA</h5>
		</div>

		  <ul class="navbar-nav navbar-right">
			<li>
				<p sec:authorized="isAuthenticated()" class="text-left text-white">
					
                                        <img class="img-profile rounded-circle" th:src="@{/images/userimage.png}" alt="memorynotfound user">
                                        <span sec:authentication="name"></span>
                                </p>
			</li>
		</ul>


	</nav>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</th:block>
</html>