#tablecursos th {
  background-color: #cccccc;
  color: black;
  font-size: small;
  text-align: center;
}

#tablecursos>tbody>tr>td {
  vertical-align: middle;
  text-align: center;
  font-size: small;
}

#rowtablecursos {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.card{
  margin-right:auto;
  margin-left:auto;
  width: 80%; 
  border-color: #337ab7;
}

.card-body{
  width: 80%;
  margin-right:auto;
  margin-left:auto;
  justify-content: center;
}

.row{
  margin-right:auto;
  margin-left:auto;
  justify-content: center;
}

#intAnnioEsc,#Annio,#Turno,#Seccion,#Nivel,#intAnnioEsc{
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  width: 300px;
  align-items: center;
  text-align: center;
  
}

.input-buttons {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  background-color: #b5b5b5;
  font-style: normal;
  color: white;
  width: 100px;
}


#periodo,#Annios,#Niveles,#Turnos,#Secciones{
  border: none;
  width: 300px;
  align-items: center;
  text-align: center;
  
}

#rowtablealumnosinscritos {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

#tablealumnosinscritos th {
  background-color: #cccccc;
  color: black;
  font-size: small;
  text-align: center;
}

#tablealumnosinscritos>tbody>tr>td {
  vertical-align: middle;
  text-align: center;
  font-size: small;
}


#tablecurso th {
  background-color: #cccccc;
  color: black;
  font-size: small;
  text-align: center;
}

#rowtablecurso {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

#tablecurso>tbody>tr>td {
  vertical-align: middle;
  text-align: center;
  font-size: small;
  
 


}



#tablealumno th {
  background-color: #cccccc;
  color: black;
  font-size: small;
  text-align: center;
}

#rowtablealumno {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

#tablealumno>tbody>tr>td {
  vertical-align: middle;
  text-align: center;
  font-size: small;
}

#titulo1,#titulo2,#titulo3,#titulo4{

  font-weight: bold;
  align-content:center;
  font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
  font-size: large;
  color: black;
  font-size: 16px;
}


#annioescolar {

  width: 300px;
  border: none;
  
}


#idCurso {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100px;
}

#annio {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100px;

 
}

#seccion {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100px;
}

#turno {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100px;
}

#nivel {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 150px;
}

#especialidad {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 150px;
}

#tipoDocAl {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100px;
}

#numDocAl {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 150px;
}

#botonBuscAl {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100px;
}

#nombre {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 300px;
}


#botonAsignar {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100px;
}








