#tableperiodos th {
  background-color: #cccccc;
	color: black;
	font-size: small;
	text-align: center;
}

#tableperiodos>tbody>tr>td {
  vertical-align: middle;
	text-align: center;
	font-size: small;
}

#rowtableperiodos {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}



.row{
  margin-right:auto;
  margin-left:auto;
  justify-content: center;
}



.input-buttons {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  background-color: #b5b5b5;
  font-style: normal;
  color: white;
  width: 150px;
}


.input-fecha {
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  width: 200px;
}



#titulo1,#titulo2,#titulo3,#titulo4{

	font-weight: bold;
	align-content:center;
	font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
	font-size: large;
	color: black;
	font-size: 16px;
  }



