input{
	 text-transform:uppercase;
}

#tablematerias th {
	background-color: #cccccc;
	color: black;
	font-size: small;
	text-align: center;
}

#tablematerias>tbody>tr>td {
	vertical-align: middle;
	text-align: center;
	font-size: small;
}







.input-buttons {
	border-radius: 130px;
	border: 1px solid #b5b5b5;
	background-color: #b5b5b5;
	font-style: normal;
	color: white;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.input-codigomat {

	border-radius: 100px;
	border: 1px solid #b5b5b5;
	width: 100px;
	text-align: center;
}

.input-nombremat {
	width: 445px;
	border-radius: 100px;
	border: 1px solid #b5b5b5;
}

.input-descripcionMat {
	width: 705px;
	border-radius: 100px;
	border: 1px solid #b5b5b5;
}

#annio {
	border-radius: 100px;
	border: 1px solid #b5b5b5;
	width: 80px;
	text-align: center;
	
}

#nivel {
	border-radius: 100px;
	border: 1px solid #b5b5b5;
	width: 130px;
	text-align: center;
	
}

#especialidad {
	border-radius: 100px;
	border: 1px solid #b5b5b5;
	width: 120px;
	text-align: center;

}




#cmbannio {
	border-radius: 100px;
	border: 1px solid #b5b5b5;
	width: 80px;
	
}

#cmbnivel {
	border-radius: 100px;
	border: 1px solid #b5b5b5;
	width: 130px;

}

#cmbespecialidad {
	border-radius: 100px;
	border: 1px solid #b5b5b5;
	width: 120px;
	
}
#titulo1,#titulo2,#titulo3,#titulo4{

	font-weight: bold;
	align-content:center;
	font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
	font-size: large;
	color: black;
	font-size: 16px;
  }

  #formMateria{
	margin-left: auto;
	margin-right: auto;
  }

