
body{
background-image: url("/images/modern-education-system-830x555.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}
.login-header {
  width: 350px;
  height: 40px;
}
.button {
  width: 200px;
  border-radius: 100px;
  border: 1px solid #b5b5b5;
}
.login-header{
  background: radial-gradient(95.14% 7284.37% at 2.57% 20%, #cccccc 0%, #7f87a3 100%);

}
.button, #regForm {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.login-header,
.login p {
  font-family: Ubuntu;
  text-align: center;
  line-height: 40px;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 20.0408px;
}
#regForm {
  height: 400px;
  width: 350px;
  border: 0;
}

.form-control{
  padding:15px;
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  width: 300px;
  text-align: center;
  padding-bottom: 20px;
}


#tipodocumento{
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  width: 50px;
  text-align: center;
}

#numerocedula{
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  width: 100px;
  text-align: center;
}

#tipousuario{
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  width: 150px;
  text-align: center;
}

#nombreapellido,#usuario,#clave,#confirmarclave{
  border-radius: 100px;
  border: 1px solid #b5b5b5;
  width: 415px;
  text-align: center;
}


#containerusuario{
	display:none;
}

#tablenuevousuario {
	border:none;
}


#tablenuevousuario th {

  
  font-size: medium;

  border:none;
}


#btnBuscarUsuario{
	height:30px;
	 vertical-align: middle;
}

#tablenuevousuario>tbody>tr>td {
  vertical-align: middle;
 
  font-size: medium;
  text-transform:uppercase;
}

#rowtablenuevousuario {
  width: 100%;
  align-items: center;
}



