input{
    text-transform:uppercase;
    font-size: small;
}
#tablenotas{
    text-transform:uppercase;  
}

#tablenotas th {
    background-color: #cccccc;
    color: black;
    font-size: small;
    text-align: center;
}
#tablenotascurso th {
	background-color: #cccccc;
	color: black;
	font-size: small;
	text-align: center;
}

#tablenotascurso>tbody>tr>td {
	vertical-align: middle;
	text-align: center;
	font-size: small;
	text-transform:uppercase;
}

#consultarnotas {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #2441e6;
    font-style: normal;
    color: white;
    width: 120px;
    margin: 0 auto;
  }

.txtnota{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    width: 50px;
    text-align: center;
}

#tablecursos th {
    background-color: #cccccc;
    color: black;
    font-size: small;
    text-align: center;
}
#tablenotas>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: small;
}
#tablecursos>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: small;
}

#rowtablecursos {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}
.titulos{
    font-weight: bold;
    font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
    font-size: large;
    color: black;
    font-size: 20px;
  }


#containerTitulo{
  border:20px;
  padding-top: 18px;
  display: flex; 
  justify-content: left;
  
}

#containeretqtitulo{
   margin-right: 0px;
}


.tituloPrincipal{
    font-weight: bold;
    font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
    font-size: large;
    color: black;
    font-size: 20px;
}

#intAnnioEsc,#Annio,#Turno,#Seccion,#Nivel,#intAnnioEsc{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    width: 300px;
    align-items: center;
    text-align: center;

}

.input-buttons {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #b5b5b5;
    font-style: normal;
    color: white;
    width: 100px;
}

#Guardar,#GuardarCambiarNotas{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #2441e6;
    font-style: normal;
    color: white;
    width: 120px;
    margin: 0 auto;
}




.confirmar,.editar{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #2441e6;
    font-style: normal;
    color: white;
    width: 50px;
    margin: 0 auto;
}

#periodo,#Annios,#Niveles,#Turnos,#Secciones{
    border: none;
    width: 300px;
    align-items: center;
    text-align: center;

}

#rowtablealumnosinscritos {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

#tablealumnosinscritos th {
    background-color: #cccccc;
    color: black;
    font-size: small;
    text-align: center;
     text-transform:uppercase;
}

#tablealumnosinscritos>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: small;
     text-transform:uppercase;
}


#tablecurso th {
    background-color: #cccccc;
    color: black;
    font-size: small;
    text-align: center;
}

#rowtablecurso {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

#tablecurso>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: small;




}



#tablealumno th {
    background-color: #cccccc;
    color: black;
    font-size: small;
    text-align: center;
}

#rowtablealumno {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

#tablealumno>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: small;
}

#tablemateriasdisponibles th {
    background-color: #cccccc;
    color: black;
    font-size: small;
    text-align: center;
}

#tablemateriasdisponibles>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: small;
}

#rowtablemateriasdisponibles {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}




#tablemateriasasignadas th {
    background-color: #cccccc;
    color: black;
    font-size: small;
    text-align: center;
}

#tablemateriasasignadas>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: small;
}

#rowtablemateriasasignadas {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.grid-container0 {
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  
}

#grid-container-consultanotas {
    display:grid;
    grid-template-columns: auto auto auto;
  
}

#nomAlumno{
    border: none;
}

#cedAlumno{
    border: none;
}

.grid-container1 {
    display:inline-block;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  
}

.btnEdicionDeNotas{
    background-color: grey;
    width: 35px;

    

}
.btnEdicionDeNotas:hover{
    background-color: white;
    
   
}

#tableModificarNotas{

text-align: center;
border: #2441e6;
}


#tableModificarNotas>thead>tr>th{
width: 100px;


}

#btncerrareditarnota{
    background-color: red;
    height: auto;
    width: auto;
    padding:5px 5px 5px 5px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    

    display:inline;
	width:40px;

	
	border-radius:5px;

	
	background-repeat:no-repeat;
    background-size:20px 20px;
	background-position:10px 5px;
	
    
}

#tableModificarNotas>tr>td{
    width: 100px;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-size: small;
    
    }

   







label{
    font-size: medium;
}



#tableprofesor th {
    background-color: #cccccc;
    color: black;
    font-size: small;
    text-align: center;
}

#tableprofesor>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: small;
}

#rowtableprofesor {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}








#titulo1,#titulo2,#titulo3,#titulo4{

    font-weight: bold;
    align-content:center;
    font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
    font-size: large;
    color: black;
    font-size: 16px;
}


#annioescolar {

    width: 100px;
    border: none;

}


#idCurso {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 100px;
}

#annio {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 100px;


}

#seccion {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 100px;
}

#turno {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 100px;
}

#nivel {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 150px;
}

#especialidad {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 150px;
}

#tipoDocAl {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 100px;
}

#tipoDocPrf {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 100px;
}

#numDocAl {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 150px;
}

#numDocPrf {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 150px;
}

#botonBuscAl {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 100px;
}

#nombre {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 300px;
    font-size: small;
}


#botonAsignar {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 100px;
}
#materia {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #cccccc;
    width: 160px;
    font-size: small;
}

#docente {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #cccccc;
    width: 200px;
    font-size: small;
}

#seccion,#notaprimerlapso,#notasegundolapso,#notatercerlapso {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #cccccc;
    width: 60px;
    font-size: small;
    justify-content: center;
}

#annio {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #cccccc;
    width: 60px;
    font-size: medium;
}

#containerbotonmodalconsultavacia{
    display: flex;
    justify-content: center;
}

#containerbtnotascargadas{
    display: flex;
    justify-content: center;
}

#containerbotonmodalnotasmodificadas{
    display: flex;
    justify-content: center;
}




.modal-header{
    background-color: #cccccc;
    height: 20px;
    padding-top: 0px;
     padding-bottom: 0px;
 
    padding-right: 0px;
     padding-left: 0px;
    
}

#parrafomodalcontent{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

#ciAlumno {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #cccccc;
    width: 90px;
    font-size: medium;
}


#nombAlumno{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #cccccc;
    width: 150px;
    font-size: medium;
}
.input-nombre-apellido {
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    background-color: #cccccc;;
    width: 160px;
   
}





#tipoCarga{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    width: 155px;
    text-align: center;
     height: 30px;
   
}

#lapso{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    width: 100px;
    text-align: center;
    height: 30px;
    font-size: small;

}

#periodoEscolar{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    width: 100px;
    text-align: center;
    height: 30px;


}

#tipoConsulta{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    width: 150px;
    text-align: center;
    height: 30px;
  

}

#momento{
    border-radius: 100px;
    border: 1px solid #b5b5b5;
    width: 200px;
    text-align: center;
    height: 30px;
  

}

#lbllapso,#lbltipodecarga,#lblperiodo,#lbltipo,#lblapso{
    display:none;
    font-size: small;
    color:red;
}

.boton{
	display:inline;
	width:50px;
	height:30px;
	text-align:center;
	font-size:14px;
	border:1px solid #007095;
	border-radius:5px;
	cursor:pointer;
	color:white;
	padding:5px 10px 5px 10px;
	background-repeat:no-repeat;
    background-size:20px 20px;
	background-position:10px 5px;
	background-color:blue;
}

/*.boton:hover{ background-color:#007095;}





