<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
<link rel="stylesheet" type="text/css" href="/css/estilosCurso.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<header></header>

<body>
	<th:block th:replace="partes/header :: header" />
	<th:block th:replace="partes/menu :: menuSuperior" />


    <div class="container py-4">
		<div class="card bg-danger text-white">
			<div class="card-header">Error: Acceso Denegado!</div>
			<div class="card-body">
				<h3 class="card-title">
					Los sentimos <span th:text="${#authentication.name}"></span>,
					NO tienes permisos para acceder a este recurso.
				</h3>
				<a th:href="@{/app/listaralumnos}" class="btn btn-outline-light" role="button">Ir
					al inicio</a>

			</div>
		</div>
	</div>

	
	
	
	<th:block th:replace="partes/footer :: footer" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script
		src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script src="/js/listacurso.js"></script>
</body>
</html>