<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
	<link rel="stylesheet" type="text/css" href="/css/estilosCurso.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<header></header>

<body>
	<th:block th:replace="partes/header :: header" />
	<th:block th:replace="partes/menu :: menuSuperior" />






	<div class="card" style="
		width: 100%;
		border-color: #cccccc;
		margin-left: auto;
		margin-right: auto;">
		<div class="card-header" style="
		  width: 100%;
		  border-color: #cccccc;
		  margin-left: auto;
		  margin-right: auto;
		">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li>
							<a type="button" class="btn btn-secondary" th:href="@{/inicio}" data-toggle="tooltip"
								data-placement="top" title="Ir al inicio"><i class="bi bi-house"></i></a>
						</li>
						&nbsp;
						<li>
							<a type="button" class="btn btn-secondary" th:href="@{/app/cargarcurso}"
								data-toggle="tooltip" data-placement="top" title="Limpiar pantalla"><i
									class="bi bi-eraser"></i></a>
						</li>
						&nbsp;

						<li>
							<a type="button" class="btn btn-secondary" th:href="@{/app/listarcursos}"
								data-toggle="tooltip" data-placement="top" title="Salir"><i class="bi bi-x"></i></a>
						</li>
					</ul>
					<div class="container" style="display: flex;
                justify-content: left;">
                
          <div class="col-md-3"></div>
            <p style="font-weight: bold;
              font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
              font-size: large;
              color: black;
              font-size: 20px;">&nbsp;&nbsp;&nbsp;Formulario de carga de curso</p>
          </div>
				</div>
			</nav>
		</div>


		<div class="card-body" style="
			width: 100%;
			border-color: #b5b5b5;
			margin-left: auto;
			margin-right: auto;
		  ">
			<!------------------------------------------INICIO DEL FORMULARIO DEL CURSO--------------------->
			<form class="form-horizontal" id="formCurso" name="formCurso">
				<input type="hidden" id="direccionbase" name="direccionbase" th:value="${direccionbase}" />
				<br>

				<div class="row">
					<div class="col-sm-12"></div>
					<b><label for="annioescolar" class="col-form-label">Año
							escolar:</label></b>
					<input type="text" class="form-control" id="annioescolar" />
				</div>
		
		<br> <br>
		<div class="row" id="rowtablecurso">
			<table id="tablecurso" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Curso</th>
						<th>Año</th>
						<th>Sección</th>
						<th>Turno</th>
						<th>Nivel</th>
						<th>Eepecialidad</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><select id="idCurso" name="idCurso">
								<option th:each="curso:${Cursos}" th:value="${curso.idCurso}"
									th:text="${curso.idCurso}"></option>
							</select></td>
						<td><input type="text" id="annio" />
						</td>

						<td><input type="text" id="seccion" />
						</td>

						<td><input type="text" id="turno" />
						</td>

						<td><input type="text" id="nivel" />
						</td>

						<td><input type="text" id="especialidad" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		</form>
		<!------------------------------------------FIN DEL FORMULARIO DEL CURSO---------------------->

		<br /> <br />

		<!------------------------------------------INICIO DEL FORMULARIO DEL ALUMNO--------------------->
		<form class="form-horizontal" id="formAlumno" name="formAlumno">

			<div class="row" id="rowtablealumno">
				<input type="hidden" id="idAlumno" />
				<table id="tablealumno" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Tipo</th>
							<th>N° de cédula</th>
							<th></th>
							<th>Nombre y apellido</th>
							<th></th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td><select id="tipoDocAl" name="tipoDocAl">
									<option value="V">V</option>
									<option value="E">E</option>
									<option value="P">P</option>
								</select></td>
							<td><input type="text" id="numDocAl" name="numDocAl" /></td>
							<td><input type="button" class="input-buttons" id="botonBuscAl" value="Buscar" /></td>
							<td><input type="text" id="nombre" />
							</td>
							<td><input type="button" class="input-buttons" id="botonAsignar" value="Asignar" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>

		<br /> <br />

		<!------------------INICIO DEL FORMULARIO DE LA LISTA DE ALUMOS--------------------->
		<form class="form-horizontal" id="formListaAlumnos" name="formListaAlumnos">
			<!--AQUI VA LA TABLA-->
			<div class="row" id="rowtablealumnosinscritos">
				<table id="tablealumnosinscritos" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>N° del alumno</th>
							<th>Cédula</th>
							<th>Nombre y apellido</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody>



					</tbody>
				</table>
			</div>
			<br>
			<br>
			<div class="row">
				<input type="button" class="input-buttons" name="guardar" id="guardar" value="Guardar"
					style="margin: 0 auto" />
			</div>
			<br>
			<br>
		</form>
		<!------------------FIN DEL FORMULARIO DE LA LISTA DE ALUMOS--------------------->
	</div>
	</div>

	<th:block th:replace="partes/footer :: footer" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script src="/js/cargacurso.js"></script>
</body>

</html>