<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/estilosCurso.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <header></header>

  <body>
    <div
      th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
      th:if="${mensaje3 != null}"
      th:text="${mensaje3}"
      class="alert"
      id="mensaje3"
    ></div>
    <div
      th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
      th:if="${mensaje6 != null}"
      th:text="${mensaje6}"
      class="alert"
      id="mensaje6"
    ></div>
    <div
      th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
      th:if="${mensaje7 != null}"
      th:text="${mensaje7}"
      class="alert"
      id="mensaje7"
    ></div>
    <div
      th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
      th:if="${mensaje8 != null}"
      th:text="${mensaje8}"
      class="alert"
      id="mensaje8"
    ></div>
    <div
      th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
      th:if="${mensaje9 != null}"
      th:text="${mensaje9}"
      class="alert"
      id="mensaje9"
    ></div>
    <div
      th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
      th:if="${mensaje4 != null}"
      th:text="${mensaje4}"
      class="alert"
      id="mensaje4"
    ></div>
    <div
      th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
      th:if="${mensaje12 != null}"
      th:text="${mensaje12}"
      class="alert"
      is="mensaje12"
    ></div>
    <div
      th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
      th:if="${mensaje29 != null}"
      th:text="${mensaje29}"
      class="alert"
      id="mensaje29"
    ></div>
    <div
      th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
      th:if="${mensaje30 != null}"
      th:text="${mensaje30}"
      class="alert"
      id="mensaje30"
    ></div>
    <th:block th:replace="partes/header :: header" />
    <th:block th:replace="partes/menu :: menuSuperior" />

    <div class="card">
      <div class="card-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li>
                <a
                  type="button"
                  class="btn btn-secondary"
                  href="#"
                  id="registrarCurso"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Registrar Nuevo Curso"
                  ><i class="bi bi-book"></i
                  ><span class="sr-only">(current)</span></a
                >

                <!--<a type="button" class="btn btn-secondary" th:href="@{/app/nuevocurso}"
                                 data-placement="top" title="Registrar Nuevo Curso"><i
                                    class="bi bi-book"></i><span class="sr-only">(current)</span></a>-->
              </li>
              &nbsp;
              <li>
                <a
                  type="button"
                  class="btn btn-secondary"
                  th:href="@{/app/cargarcurso}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Cargar curso"
                  ><i class="bi bi-card-list"></i
                  ><span class="sr-only">(current)</span></a
                >
              </li>
              &nbsp;
              <li>
                <a
                  type="button"
                  class="btn btn-danger"
                  th:href="@{/inicio}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Salir"
                  ><i class="bi bi-x"></i
                  ><span class="sr-only">(current)</span></a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <br />
        <input
          type="hidden"
          id="direccionbase"
          name="direccionbase"
          th:value="${direccionbase}"
        />
        <div class="row" id="containeretqtitulo">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <b><label for="annioescolar" class="col-form-label">P.E:</label></b>
            <input type="text" id="annioescolar" th:value="${periodoEscolar}" />
          </div>
        </div>

        <div class="row" id="containertitulo">
          <div class="col-md-5"></div>
          <div class="col-md-4">
            <p id="titulo1">Listado de Cursos activos</p>
          </div>
        </div>
        <br />
        <table id="tablecursos" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Número del curso</th>
              <th>Año</th>
              <th>Sección</th>
              <th>Turno</th>
              <th>Nivel</th>
              <th>Especialidad</th>
              <th>Periodo</th>
              <th></th>
              <!--<th></th>-->
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="curso:${Cursos}">
              <td th:text="${curso.idCurso}" id="idCur"></td>
              <td th:text="${curso.annio}"></td>
              <td th:text="${curso.seccion}"></td>
              <td th:text="${curso.turno}"></td>
              <td th:text="${curso.nivel}"></td>
              <td th:text="${curso.especialidad}"></td>
              <td th:text="${curso.intAnnioEsc}"></td>
              <td>
                <a
                  type="button"
                  class="btn btn-secondary"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Ver"
                  id="btnVer"
                  th:href="@{/app/editacurso/}+${curso.idCurso}"
                  ><i class="bi bi-eye"></i
                ></a>
              </td>
              <!--<td>
                                      <a
                                        type="button"
                                        class="btn btn-secondary"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Editar"
                                        id="btnEditar"
                                        th:href="@{/app/editacurso/}+${curso.idCurso}"
                                        ><i class="bi bi-pencil-fill"></i
                                      ></a>
                                    </td>-->
        <!--      <td>
                <button
                 
                  class="btn btn-secondary"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Eliminar"
                  id="eliminarCurso"
                  ><i class="bi bi-trash"></i
                ></button>

              </td>-->


              <td>
                <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                    title="Eliminar" id="btnEliminar" th:href="@{/app/eliminacurso/}+${curso.idCurso}"><i
                        class="bi bi-trash"></i></a>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    

    <div
      class="modal fade"
      id="Registro"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
           
                    <button type="button" class="close" data-dismiss="modal" 
                    id="btncerrarregistrarcurso" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
          </div>
          <div class="modal-body">
            <div class="container">

              <p
                style="
                  font-weight: bold;
                  font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
                  font-size: large;
                  color: black; 
                "
              >
                Formulario de creación de cursos
              </p>
            </div>
            <form>
              <div class="container p-2 my-2">
                <table>
                  <thead>
                    <th></th>
                    <th style="width: 20px"></th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td>
                        <label class="col-form-label">Periodo:</label>
                      </td>
                      <td style="width: 20px"></td>
                      <td>
                        <input
                          id="intAnnioEsc"
                          type="text"
                          th:value="${periodoEscolar}"
                        />
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <label for="Annio" class="col-form-label">Año:</label>
                      </td>
                      <td style="width: 20px"></td>

                      <td>
                        <select id="Annio">
                          <option selected="selected">
                            </option>
                          <option
                            th:each="annio:${annios}"
                            th:value="${annio}"
                            th:text="${annio}"
                          ></option>
                        </select>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <label for="Nivel" class="col-form-label">Nivel:</label>
                      </td>
                      <td style="width: 20px"></td>

                      <td>
                        <select id="Nivel">
                          <option selected="selected">
                          </option>
                          <option
                            th:each="nivel:${niveles}"
                            th:value="${nivel}"
                            th:text="${nivel}"
                          ></option>
                        </select>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <label for="Turno" class="col-form-label">Turno:</label>
                      </td>
                      <td style="width: 20px"></td>

                      <td>
                        <select id="Turno">
                          <option selected="selected">
                          </option>
                          <option
                            th:each="turno:${turnos}"
                            th:value="${turno.turno}"
                            th:text="${turno.turno}"
                          ></option>
                        </select>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <label for="Seccion" class="col-form-label"
                          >Seccion:</label
                        >
                      </td>
                      <td style="width: 20px"></td>

                      <td>
                        <select id="Seccion">
                          <option selected="selected">
                          </option>
                          <option
                            th:each="seccion:${secciones}"
                            th:value="${seccion.seccion}"
                            th:text="${seccion.seccion}"
                          ></option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <br />
              <div class="row" id="rowbtncrearcurso">
                <input
                  type="button"
                  class="input-buttons"
                  name="crearCurso"
                  id="crearCurso"
                  value="Crear Curso"
                  style="margin: 0 auto"
                />
              </div>
              <br />
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>



    <div class="modal" tabindex="-1" role="dialog" id="modalcursoregistrado">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h7 class="modal-title">Información</h7>
              </div>
              <div class="modal-body" id="parrafomodalcontent">
                  <p id="parrafomodalcursoregistrado"></p>
              </div>
              <div class="modal-footer" id="containerbotonmodalcursoregistrado">
                  <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                  <button type="button" class="btn btn-primary" id="btnCursoRegistrado">Aceptar</button>
              </div>
          </div>
      </div>
  </div>



  <div class="modal" tabindex="-1" role="dialog" id="modalcursoeliminado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title">Información</h7>
            </div>
            <div class="modal-body" id="parrafomodalcontent">
                <p id="parrafomodalcursoeliminado"></p>
            </div>
            <div class="modal-footer" id="containerbotonmodalcursoeliminado">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" id="btnCursoEliminado">Aceptar</button>
            </div>
        </div>
    </div>
</div>






    <th:block th:replace="partes/footer :: footer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="/js/listacurso.js"></script>
  </body>
</html>
