<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="/css/estilosCurso.css" />
</head>
<header></header>

<body>
  <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje11 != null}"
    th:text="${mensaje11}" class="alert"></div>
  <th:block th:replace="partes/header :: header" />
  <th:block th:replace="partes/menu :: menuSuperior" />






  <div class="card">
    <div class="card-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li>
              <a type="button" class="btn btn-secondary" th:href="@{/inicio}" data-toggle="tooltip" data-placement="top"
                title="Ir al inicio"><i class="bi bi-house"></i></a>

            </li>
            &nbsp;

            <li>
              <a type="button" class="btn btn-danger" th:href="@{/app/listarcursos}" data-toggle="tooltip"
                data-placement="top" title="Salir"><i class="bi bi-x"></i></a>
            </li>

          </ul>
        </div>
      </nav>
    </div>


    <div class="card-body">

      <br>
            <div class="row" id="containeretqtitulo">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <b><label for="annioescolar" class="col-form-label">P.E:</label></b>
                    <input type="text" id="annioescolar" th:value="${cursoDTO.intAnnioEsc}" />
                </div>
            </div>
          
      <div class="container" style="display: flex;
                justify-content: left;">

        <div class="col-md-4"></div>
        <p style="font-weight: bold;
              font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
              font-size: large;
              color: black;
              font-size: 20px;">Detalle del curso</p>
      </div>
      <br>
    

      <div class="container-fluid">
        <b><label for="Numerocurso" class="col-form-label">Número del curso:</label></b>
        <input type="text" id="Numerocurso" th:value="${cursoDTO.idCurso}" readonly />
        &nbsp;&nbsp; &nbsp;&nbsp;
        <b><label for="Annios" class="col-form-label">Año:</label></b>
        <input type="text" id="Annios" th:value="${cursoDTO.annio}" readonly />
        &nbsp;&nbsp; &nbsp;&nbsp;
        <b><label for="Secciones" class="col-form-label">Sección:</label></b>
        <input type="text" id="Secciones" th:value="${cursoDTO.seccion}" readonly />
        &nbsp;&nbsp; &nbsp;&nbsp;
        <b><label for="Niveles" class="col-form-label">Nivel:</label></b>
        <input type="text" id="Niveles" th:value="${cursoDTO.nivel}" readonly />
        &nbsp;&nbsp; &nbsp;&nbsp;
        <b><label for="Especialidad" class="col-form-label">Especialidad:</label></b>
        <input type="text" id="Especialidad" th:value="${cursoDTO.especialidad}" readonly />
        &nbsp;&nbsp; &nbsp;&nbsp;
        <b><label for="Turnos" class="col-form-label">Turno:</label></b>
        <input type="text" id="Turnos" th:value="${cursoDTO.turno}" readonly />   
    
      </div>
      <br />
      <br />
      <div class="container" style="display: flex;
                justify-content: left;">

        <div class="col-md-4"></div>
        <p style="font-weight: bold;
              font-family: 'Helvetica', 'Verdana', 'Monaco', sans-serif;
              font-size: large;
              color: black;
              font-size: 20px;">Alumnos inscritos</p>
      </div>
      <br>









     
      




      <!--AQUI VA LA TABLA-->
      <div class="row" id="rowtablealumnosinscritos">
        <table id="tablealumnosinscritos" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>CEDULA</th>
              <th>NOMBRE Y APELLIDO</th>

            </tr>
          </thead>
          <tbody>
            <tr th:each="alumnoinscrito:${Alumnosinscritos}">
              <td th:text="${alumnoinscrito.tipoDocAl}+${alumnoinscrito.numDocAl}"></td>
              <td th:text="${alumnoinscrito.primNombAl}+' '+${alumnoinscrito.primApellAl}"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <th:block th:replace="partes/footer :: footer" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="/js/vercurso.js"></script>
</body>

</html>