<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />

    <link rel="stylesheet" type="text/css" href="/css/estilosNotas.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<header></header>

<body>
    <th:block th:replace="partes/header :: header" />
    <th:block th:replace="partes/menu :: menuSuperior" />




    <div class="card">

        <div class="card-header">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    <li>
                        <a type="button" class="btn btn-danger" th:href="@{/inicio}" data-toggle="tooltip"
                            data-placement="top" title="Salir"><i class="bi bi-x"></i><span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>


        </div>

        <div class="card-body">
            <br>
            <div class="row" id="containeretqtitulo">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <b><label for="annioescolar" class="col-form-label">P.E:</label></b>
                    <input type="text" id="annioescolar" th:value="${periodoEscolar}" />
                </div>
            </div>
            
            
             <div class="row">

                <div class="col-md-4">
                    <label>Nombre del docente:&nbsp;</label>
                     <input readonly type="text" class="input-nombre-apellido" id="nombreProfesor"
                        th:value="${profesor.primNombPrf}+' '+${profesor.primApellPrf}" />
                </div>

                <div class="col-md-4">
                    <label>Cédula:&nbsp;</label>
                       <input readonly type="text" class="input-nombre-apellido" id="cedulaProfesor"
                        th:value="${profesor.tipoDocPrf}+${profesor.numDocPrf}" />
                  
                </div>

                
            </div>






       <!--     <div class="grid-container0">
              

                <div class="grid-item">
                    <label>Nombre del docente</label>
                </div>
                <div class="grid-item">
                    <label>Cédula</label>
                </div>
                <div class="grid-item">
                   
                </div>
                <div class="grid-item">
                   
                </div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item">
                </div>


                <div class="grid-item">
                    <input readonly type="hidden" class="input-nombre-apellido" id="nombreProfesor"
                    th:value="${profesor.idPrf}" />
                </div>
                <div class="grid-item">
                    <input readonly type="text" class="input-nombre-apellido" id="nombreProfesor"
                        th:value="${profesor.primNombPrf}+' '+${profesor.primApellPrf}" />
                </div>
                <div class="grid-item">
                    <input readonly type="text" class="input-nombre-apellido" id="cedulaProfesor"
                        th:value="${profesor.tipoDocPrf}+${profesor.numDocPrf}" />
                </div>
                <div class="grid-item">
                   
                </div>
                <div class="grid-item">
                    
                </div>
                <div class="grid-item">

                </div>
                <div class="grid-item">

                </div>
                <div class="grid-item">

                </div>



            </div>-->

            <br><br><br>

            <div class="row" id="containertitulo">
                <div class="col-md-5"></div>
                <div class="col-md-4">
                    <p id="titulo1">Listado de cursos del profesor</p>
                </div>

            </div>





            <table id="tablecursos" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="display:none;"></th>
                        <th>Numero del curso</th>
                        <th>Año</th>
                        <th>Seccion</th>
                        <th>Asignatura</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cursomateriamateriaprof:${cursosmateriasprof}">
                        <td th:text="${cursomateriamateriaprof.idMat}" style="display:none;"></td>
                        <td th:text="${cursomateriamateriaprof.idCurso}"></td>
                        <td th:text="${cursomateriamateriaprof.annio}"></td>
                        <td th:text="${cursomateriamateriaprof.seccion}"></td>
                        <td th:text="${cursomateriamateriaprof.materia}"></td>
                        <td>
                            <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                title="Cargar calificaciones" id="btnCargarCalificaciones" 
                                th:href="@{/app/cargaNotas/(annio=${cursomateriamateriaprof.annio},seccion=${cursomateriamateriaprof.seccion},materia=${cursomateriamateriaprof.materia},idPrf=${profesor.idPrf},idMat=${cursomateriamateriaprof.idMat},idCurso=${cursomateriamateriaprof.idCurso})}"><i
                                    class="bi bi-card-list"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

    </div>
    <th:block th:replace="partes/footer :: footer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="/js/notas.js"></script>
    <script>

        let idLapso;
        
        $('#btnCargarCalificaciones').click(function () {
              if ($("#tipoCarga").val().length < 1) {
                    alert("Debe seleccionar el tipo de carga");
                    return false;
              }

              if ($("#lapso").val().length < 1) {
                    alert("Debe seleccionar el lapso");
                    return false;
              }

        });




        $('#lapso').change(function () {
            idLapso=document.getElementById("lapso").value;
            //  idLapso = $('#lapso').val();
            alert(idLapso);

        });


        $('#tipoCarga').change(function () {
              tipoDeCarga = $('#tipoCarga').val();

        });
  </script>


</body>

</html>